<p id="notice"><%= notice %></p>

<div id="index-patch" class="group">
    <div class="row top group">
        <div class="column">
            <a href="/"><h1>MICROBRUTE<br/><span>patches</span></h1></a>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <div class="infinite-table">
                <table>
                    <tbody class="page">
                        <%= render :partial => 'patch', :object => @patches %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="column">
        <%= link_to 'Back', patches_path, {id: "patch-new"} %>
    </div>

