<p id="notice"><%= notice %></p>

<div id="index-patch" class="group">
    <div class="row top group">
        <h1>MICROBRUTE<br/><span>patches</span></h1>
        <%= link_to 'New Patch', new_patch_path, {id: "patch-new"} %>
    </div>

    <div class="row">
        <table>
            <tbody>
                <% @patches.each do |patch| %>
                    <tr>
                        <td class="title-text"><%= link_to patch.title, patch, {class:"title-text"} %></td>
                        <td class="description-text"><%= patch.description %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
