// Place all the styles related to the patches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #666;
}

h1 {
    font-family: 'Noto Sans', sans-serif;
    color: #fd9901;
}

.orange {
    color: #fd9901;
}

.grey {
    color: #aaa;
}
